HOST=127.0.0.1
PORT=9100
VIDEO_PROVIDER=mock
OUTPUT_DIR=./outputs
MAX_CONCURRENT_GENERATIONS=1

# AWS Helios runtime
HELIOS_REPO_PATH=/home/ubuntu/Helios
HELIOS_BASE_MODEL_PATH=BestWishYsh/Helios-Distilled
# HELIOS_TRANSFORMER_PATH=/home/ubuntu/models/Helios-Distilled
HELIOS_DEVICE=cuda:0
HELIOS_WEIGHT_DTYPE=bf16
HELIOS_LOW_VRAM=true
HELIOS_GROUP_OFFLOADING_TYPE=leaf_level
HELIOS_NUM_BLOCKS_PER_GROUP=4
HELIOS_ENABLE_COMPILE=false
HELIOS_DISABLE_FLASH_ATTENTION=false
